



<!DOCTYPE html>
<html>
    <head>
        {% load static %}
            
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            
            <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
            <link rel="shortcut icon" href="" type="image/x-icon">
            <meta name="description" content="">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
            <title>ECOBE</title>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>        
            <link rel="stylesheet" href="{% static 'ecobe/assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
            <link rel="stylesheet" href="{% static 'ecobe/assets/tether/tether.min.css' %}">
            <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
            <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">-->
            <link rel="stylesheet" href="{% static 'ecobe/assets/dropdown/css/style.css' %}">
            <link rel="stylesheet" href="{% static 'ecobe/assets/socicon/css/styles.css' %}">
            <link rel="stylesheet" href="{% static 'ecobe/assets/theme/css/style.css' %}">

            <link rel="stylesheet" href="{% static 'ecobe/assets2/web/assets/awy-icons/awy-icons.css' %}">
            <link rel="stylesheet" href="{% static 'ecobe/assets2/tether/tether.min.css' %}">
            <!--<link rel="stylesheet" href="assets2/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets2/bootstrap/css/bootstrap-grid.min.css">
            <link rel="stylesheet" href="assets2/bootstrap/css/bootstrap-reboot.min.css">-->
            <link rel="stylesheet" href="{% static 'ecobe/assets2/dropdown/css/style.css' %}">
            <link rel="stylesheet" href="{% static 'ecobe/assets2/socicon/css/styles.css' %}">
            <link rel="stylesheet" href="{% static 'ecobe/assets2/theme/css/style.css' %}">
            <link rel="stylesheet" href="{% static 'ecobe/assets2/awy/css/mbr-additional.css' %}" type="text/css">
            <link rel="stylesheet" href="{% static 'ecobe/assets2/awy/css/lp_maecia.css' %}" type="text/css">

            <!--<link rel="stylesheet" href="assets/SUPP/css/klaus.css">-->
            <link rel="stylesheet" href="{% static 'ecobe/assets/mobirise/css/mbr-additional.css' %}" type="text/css">
            
            <link rel="stylesheet" href="{% static 'ecobe/assets/CSS/ecobeCSS.css' %}">
            
    </head>
    <body>
        {% load static %}
        <nav class="navbar sticky-top navbar-expand-lg beta-menu navbar-dropdown align-items-center " style="color: #202223; padding-left: 1rem; text-decoration-color: white; position: sticky;">
         
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation" style= "margin-top:0.6rem;">
                <span class="navbar-toggler-icon"><img  src='{% static "ecobe/assets/images/fleche.png" %}' style="width: 2rem;"></span>
              
            </button>

                
            <a href="url 'index'" class="navbar-brand">
                <img src="{% static 'ecobe/assets/images/ECOBE.png' %}" alt="ECOBE" style="height: 3rem;">
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03" style="color: whitesmoke;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="color: whitesmoke;">
                    <li class="nav-item">
                        <a class="nav-link" style="color: whitesmoke;" href="index#section2">Notre approche</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: whitesmoke;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nos services
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="color: rgb(16, 9, 9);" href="index#sous-section1">Due diligence technique et ESG</a>
                            </li>
                            <li><a class="dropdown-item" style="color: rgb(16, 9, 9);" href="index#sous-section2">Audits énergétique & environnementale</a>
                            </li>
                            <li><a class="dropdown-item" style="color: rgb(16, 9, 9);" href="index#sous-section3">Audit spécifiques : Technique TCE / Maintenance / Ciblé</a>
                            </li>
                            <li><a class="dropdown-item" style="color: rgb(16, 9, 9);" href="index#sous-section4">Etude de faisabilité & Programme technique détaillé</a>
                            </li>
                            <li><a class="dropdown-item" style="color: rgb(16, 9, 9);" href="index#sous-section5">Autres services d'ATMO</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: whitesmoke;" href="index#section4">Organisation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: whitesmoke;" aria-disabled="true" href="{% url 'homeai' %}">R & D</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" style="color: whitesmoke;" aria-disabled="true">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: whitesmoke;" href="contact_main">Contact</a>
                    </li>
                </ul>
                
            </div>
            
        </nav>
        {% block contento %}
        {% endblock %}
        <section class="cid-ruvRO1GPpV noire" style="background-color: rgb(46, 42, 42);" id="footer1-w">
            <div style="padding-top: 1rem; padding-bottom: 1rem; background-color: rgb(46, 42, 42); margin-left: 0; margin-right: 0; width: 100%;">
                <div class="media-container-row content text-white">
                    <div class = "row" style="width: 100%;">
                        <div class="col" style="align-items: center;">
                            <div class="media-wrap">
                                <a href="">
                                    <img src="{% static 'ecobe/assets/images/ECOBEvide.png' %}" style="max-width: 500px; display: block; margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto;" title="">
                                </a>
                            </div>
                        </div>
                        <div class="col" style="align-items: left;">
                            <div class="mbr-fonts-style display-7">
                                <h5 class="pb-3">
                                    Adresse :
                                </h5>
                                <p class="mbr-text">9, rue legras<br>93210 La plaine Saint-Denis</p>
                            </div>
                            <div class="mbr-fonts-style display-7">
                                <h5>E-mail :</h5>  <p class="mbr-text">contact@ecobe.pro&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <script src='{% static "ecobe/assets/web/assets/jquery/jquery.min.js" %}'></script>
        <script src='{% static "ecobe/popper/popper.min.js" %}'></script>
        <script src='{% static "ecobe/assets/tether/tether.min.js" %}'></script>
        <script src='{% static "ecobe/assets/bootstrap/js/bootstrap.min.js" %}'></script>
        <script src='{% static "ecobe/assets/smoothscroll/smooth-scroll.js" %}'></script>
        <script src='{% static "ecobe/assets/dropdown/js/nav-dropdown.js" %}'></script>
        <script src='{% static "ecobe/assets/dropdown/js/navbar-dropdown.js" %}'></script>
        <script src='{% static "ecobe/assets/touchswipe/jquery.touch-swipe.min.js" %}'></script>
        <script src='{% static "ecobe/assets/parallax/jarallax.min.js" %}'></script>
        <script src='{% static "ecobe/assets/theme/js/script.js" %}'></script>
        <script src='{% static "ecobe/assets/formoid/formoid.min.js" %}'></script>
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
            })

            $(function () {
                $('.example-popover').popover({
                container: 'body'
                })
            })
        </script>
</body>
</html>