{% extends 'events/navbar.html'%}
{% block content %}

 <section class="container-fluid" style="padding-top: 1.5rem; height: 100%;">   
    <h1 style="text-align: center;">Tableau de bord</h1>
    {%if projects%}
    
    <h2 style="text-align: center; margin-bottom: 1.5rem;">Vos projets</h2>
    <ul style="margin-bottom: 0rem;">
        {%for project in projects%}
            <form method="post">
                {%csrf_token%}
                <div class="container" style="flex: 1 1 auto;">
                    <div class="row">
                        <div class="col-sm-2">
                            
                                    <input type="text" class="form-control" name="project_name" value="{{project.name}}" aria-describedby="emailHelp" readonly>
                                
                            
                        
                        </div>
                        <div class="col-sm-2">

                                    <button type="submit" name="add_new_project" value="{{project.name}}">Etude supp</button>

                        
                        </div>
                        <div class="col-sm-2">
                        {%if incendie_studies %}
                            {%for incendie_study in incendie_studies%}
                                {%if incendie_study.project.name == project.name %}
                        
  
                                    <button type="submit" name="Incendie" value="{{project.name}}">Etude d'incendie</button>

                        
                                
                                {%endif%}

                            {%endfor%}

                        {%endif%}
                        </div>
                        <div class="col-sm-2">
                        {%if DT_studies %}
                        {%for DT_study in DT_studies%}
                            {%if DT_study.project.name == project.name %}
                        

                                    <button type="submit" name="DT" value="{{project.name}}">Etude DT</button>

                          
                                
                            {%endif%}
                        {%endfor%}
                        {%endif%}
                        </div>
                        
                        
                    </div>
                </div>
            </form>

        {%endfor%}
        

    </ul >
    {%else%}
    <div class="col">
        <div class="container align-center" style="margin-bottom: 3rem; margin-top: 3rem;">
          <a href="{% url 'initiate_new_project' %}"><button >Céez un </br>PROJET</button></a>
      
              
          
        </div>
      </div>
    {%endif%}

 </section>
 <section style="min-height: 3rem;"></section>   
    
    
        
{% endblock %}